@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lora|Merriweather');
@font-face {
    font-family:rnsBarutaBlack;
    src: url(./../../Fonts/rns-baruta-black/RNS-B.ttf);
}
*{
    font-family: 'Roboto', sans-serif;
   
}
.nav {
    display: grid;
    grid-template-columns: 35px 200px 1fr 200px 35px;
    grid-template-rows: auto;
    grid-template-areas: '. left-nav logo right-nav .';
    font-family: 'Roboto', sans-serif;
}
p{
    font-family:'Roboto', sans-serif;
}
.left-nav{
    grid-area: left-nav;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color:#407B6D;
    font-size:14px;
    
}
.left-nav >p {
    padding-right:15px;
}
.logo{
    grid-area:logo;
    justify-self: center;
    font-size:26px;
    font-family: rnsBarutaBlack, sans-serif;
    color:#1C4650;
    font-weight:bold;
}
.right-nav{
    grid-area:right-nav;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color:#407B6D;
    font-size:14px;
}
.right-nav >p {
    padding-left:15px;
}
.right-nav svg {
    padding-left:5px;
}

.stats-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left:2px solid #DDDEDD;
    border-top:1px solid black;
    border-bottom: 1px solid black;
    padding-left:40px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right:10px;

}
.stats-content > p {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    margin: 3px;
}
.stats-content > p:first-child{
    color:#6C6F6F;
}
.stats-content > p:nth-child(2){
    font-weight:bold;
}
.stats-grid-container{
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    grid-template-rows: auto;
}
.current-category-set{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}
.current-category{
    font-weight: 100;
    color: #282828;
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 28px;
}
.view-all{
    border:none;
}
.view-all svg{
    height: 1.3em;
    width: 1.8em;
}
.view-all:hover{
    cursor: pointer;
    text-decoration: underline;
    color:#317162
}
.view-all:focus{
    outline: none;
}
#selected{
    border-bottom: 1px solid #565656;
    color:#565656;
}
#selected:hover{
    color:rgb(150, 151, 150);
}
.category-button{
    border:0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:rgb(182, 185, 182);
    padding:10px 0px 10px 0px;
    margin-right:25px;
    
}
.side-category-button{
    border:0;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color:rgb(182, 185, 182);
    padding:15px 0px 11px 0px;
    margin-right:25px;
}
.side-category-button:focus{
    outline: none;
}
.side-category-button:hover{
    cursor: pointer;
    color:rgb(150, 151, 150);
}
.category-button:hover{
    color:rgb(150, 151, 150);
    cursor: pointer;
}
.category-button:focus{
    outline: none;
}
.main-categories{
    border-bottom:1px solid rgb(182, 185, 182);
    overflow-x:auto;
    white-space: nowrap;
    grid-column:1/3;
    grid-row:1/2;
}
.projects-preview{
    margin:60px;
    display: grid;
    gap:20px;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
}
.featured-project-head{
    font-size: 13px;
    font-weight: 100;
}
.featured-image-container{
    grid-column:1/2;
    grid-row:3/4;
    position: relative;
}
.featured-image{
    width:100%;
}
.featured-text{
    position: absolute;
    left: 20px;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    word-wrap: normal;
}
.featured-text > p{
    background-color: white;
    padding:7px;
    margin:0;
}
.featured-text > p:first-child{
    font-size: 25px;
    width: 85%;
}
.featured-text > p:nth-child(3){
    margin-top:7px;
}
.featured-image-box{
    position: relative;
}
.featured-image-heart{
    top:10px;
    right:10px;
    position: absolute;
}
.featured-heart{
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.3);
    color:white;
    position:relative;
    /* left:570px;
    top:30px; */
    padding: 10px;
    border:0;
    height: 34px;
    width: 34px;
}
.side-category{
    grid-column:2/3;
    grid-row:3/4;
}
.snippet{
    display: flex;
    flex-direction: row;
    border-bottom:1px solid rgb(182, 185, 182);
    height:5em;
    width:100%;
    justify-content: space-between;
    padding-top:10px;
    padding-bottom:10px;
    align-items: center;
}
.snippet > div:first-child{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;

    
}
.snippet-text{
    max-width:80%;
}
.snippet-image-container {
    max-width:22%;
    
}
.snippet-title{
    font-size: 14px;
    color:#565656;
}
.snippet-funded{
    font-size:12px;
    color:rgb(121, 121, 121);;
}
.snippet-image{
    max-width:80%;
    height:auto;
}

.projects-we-love{
    display: grid;
    grid-template-columns: 20px 1fr 1fr 1fr 1fr 20px;
    grid-template-rows:1fr 4fr;
    column-gap: 40px;
    border-top:1px solid #EB3324;
    border-bottom:1px solid #EB3324;
    font-size: 14px;
    font-weight: 100;
    color:#565656;
    line-height: 20px;
}
.love-top{
    grid-column:2/6;
    grid-row:1/2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top:40px;
}
.projects-we-love >div> h4{
    /* grid-column:2/3;
    grid-row:1/2;
    align-self:baseline; */
    font-weight: 10;
    color:#585858;
    font-size:18px;
}
.projects-we-love >div > a{
    /* grid-column:5/6;
    grid-row:1/2;
    justify-self: end;
    align-self:baseline; */
    font-size:13px;
}
.love-0{
    grid-column:2/3;
    grid-row:2/3;
}
.love-1{
    grid-column: 3/4;
    grid-row:2/3;
}
.love-2{
    grid-column:4/5;
    grid-row:2/3;
}
.love-3{
    grid-column: 5/6;
    grid-row:2/3;
}
.big-quote{
    border-bottom:1px solid #EB3324;
    display: grid;
    grid-template-columns: 125px auto 1fr 125px;
    grid-template-rows: 50px auto auto auto 50px
}
.big-quote-pic{
    grid-column:2/3;
    grid-row:2/3;
    height:75px;
    width:75px;
    margin-right:50px;
    margin-top:25px;
}
.big-quote-quote{
    font-family: 'Lora', serif;
    text-decoration: none;
    font-size:44px;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    color:black;
    grid-column: 3/4;
    grid-row:2/3;
}
.big-quote-read{
    grid-column:3/4;
    grid-row:4/5;
    font-size:13px;
    text-decoration: none;
    color:#3b3b3b;
    font-weight: bolder;
}
.big-quote-read:hover{
    text-decoration: underline;
    color:rgb(113, 114, 113);
}
.big-quote-signature{
    grid-column:3/4;
    grid-row:3/4;
    font-size:13px;
    text-decoration: none;
    color:#6C6F6F;
}
.big-quote-signature > a{
    text-decoration: none;
}
.banners{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 222px;
    padding:60px;
    gap:25px;
    border-bottom:1px solid #EB3324;
}
.go-green{
    background-image: url(https://d3mlfyygrfdi2i.cloudfront.net/R1-img-overlay.png);
    background-repeat: no-repeat;
    grid-column: 1/2;
    background-color:green;
    display: flex;
    flex-direction: column;
    background-size:cover;
    justify-content: center;
}
.green-header{
    background-color:white;
    margin-bottom: 0;
    flex-shrink: 1;
}
.green-sentence{
    background-color:white;
    margin-top:0;
    flex-shrink: 1;
}
.drip{
    background-color: #434FE7;
}
.drop-svg{
    height:100%;
    width:100%;
}

.article-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    padding: 60px;
    grid-row-gap: 40px;
    grid-column-gap: 40px;
}
.card{
    
    border: 1px solid #DDDEDD;
    position: relative;
    color:#3b3b3b;
    text-decoration: none;
}
.small-card{
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
    justify-content: space-between;
}
.small-card-image{
    height:72px;
    width: 72px;
}
.card:hover{
    cursor: pointer;
    box-shadow: 0.25px 0.25px 3px rgb(66, 66, 66);
    transition:all 0.2s ease-in-out;
    bottom: 1px;
    color:rgb(113, 114, 113);
    text-decoration: underline;
}
.big-card-image{
    width:100%;
}

@media(max-width:1025px){
    .snippet-image-container{
        max-width:30%;
    }
    .featured-text{
        position: relative;
        left:0;
        bottom:0;
    }
    .featured-text > p:first-child{
        font-size:20px;
    }
    .projects-we-love{
        grid-template-columns: 40px 1fr 1fr 40px;
        grid-template-rows:1fr 4fr 4fr;
        column-gap:30px;
    }
    /* .projects-we-love > a{
        grid-column:3/4;
        grid-row:1/2;
    } */
    .love-top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        grid-column:2/4;
        grid-row:1/2;
    }
    .love-0{
        grid-column: 2/3;
        grid-row:2/3;
    }
    .love-1{
        grid-column: 3/4;
        grid-row:2/3;
    }
    .love-2{
        grid-column: 2/3;
        grid-row:3/4;
    }
    .love-3{
        grid-column:3/4;
        grid-row:3/4;
    }
}
@media(max-width:795px){
    .nav{
        grid-template-rows:auto auto;
        grid-template-columns:20px 80px 1fr 80px 20px;
        border-bottom:1px solid black;
    }
    .filler-left{
        grid-row:2/3;
        grid-column: 1/2;
        border-top:1px solid #DDDEDD;
    }
    .left-nav{
        grid-row:2/3;
        border-top:1px solid #DDDEDD;
    }
    .filler-mid{
        grid-row:2/3;
        grid-column:3/4;
        border-top:1px solid #DDDEDD;
    }
    .right-nav{
        grid-row:2/3;
        border-top:1px solid #DDDEDD;
    }
    .filler-right{
        grid-row:2/3;
        grid-column:5/6;
        border-top:1px solid #DDDEDD;
    }
    
    .stats{
        display: none;
    }
    .projects-preview{
        display: flex;
        flex-direction: column;
        margin:20px;
        margin-bottom:50px;
    }
    .snippet{
        height:auto;
    }
    .snippet-image-container{
        max-width:18%;
    }
    .heart-icon{
        display: none;
    }
    .projects-we-love{
        grid-template-columns: 0px 1fr 1fr 0px;
        column-gap:25px;
    }
    .big-quote{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding:50px;
        text-align: center;
    }
    .big-quote-quote{
        font-size: 28px;
        justify-content: center;
        display: flex;
    }
    .big-quote-pic{
        margin:0;
        justify-content: center;
        display: flex;
    }
    .banners{
        grid-template-columns: 1fr;
        grid-template-rows: 222px 222px;
    }
}

@media(max-width:600px){
    .nav-hide{
        display: none;
    }
    .projects-we-love{
        display: flex;
        flex-direction: column;
        padding:25px;
    }
    .love-top{
        padding-top:0px;
    }
    
}