@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
    font-family:rnsBarutaBlack;
    src: url(./../../Fonts/rns-baruta-black/RNS-B.ttf);
}
.nav {
    display: grid;
    grid-template-columns: 45px 12% 1fr 12% 45px;
    grid-template-rows: auto;
    grid-template-areas: '. left-nav logo right-nav .';
    font-family: 'Roboto', sans-serif;
}
.left-nav{
    grid-area: left-nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#407B6D;
    font-size:14px;
}
.logo{
    grid-area:logo;
    justify-self: center;
    font-size:26px;
    font-family: rnsBarutaBlack, sans-serif;
    color:#1C4650;
    font-weight:bold;
}
.right-nav{
    grid-area:right-nav;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:#407B6D;
    font-size:14px;
}

.stats-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left:2px solid #DDDEDD;
    border-top:1px solid black;
    border-bottom: 1px solid black;
    padding-left:40px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right:10px;

}
.stats-content > p {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    margin: 3px;
}
.stats-content > p:first-child{
    color:#6C6F6F;
}
.stats-content > p:nth-child(2){
    font-weight:bold;
}
.stats-grid-container{
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    grid-template-rows: auto;
}
#selected{
    border-bottom: 1px solid #565656;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:#565656;
}
#selected:hover{
    color:rgb(150, 151, 150);
    
}
.category-button{
    border:0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:rgb(182, 185, 182);
    padding:10px 0px 10px 0px;
    margin-right:25px;
    
}
.category-button:hover{
    color:rgb(150, 151, 150)
}
.category-button:focus{
    outline: none;
}
.main-categories{
    border-bottom:1px solid rgb(182, 185, 182);
    overflow-x:auto;
}
.projects-preview{
    margin:60px;
    overflow-x:auto;
    white-space: nowrap;
}
h2{
    font-weight:500;
    color:#282828;
}
/* @media(max-width:900px){
    .main-categories{
        overflow-x:scroll;
    }
} */