@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
    font-family:rnsBarutaBlack;
    src: url(./../../Fonts/rns-baruta-black/RNS-B.ttf);
}
.nav {
    display: grid;
    grid-template-columns: 35px 200px 1fr 200px 35px;
    grid-template-rows: auto;
    grid-template-areas: '. left-nav logo right-nav .';
    font-family: 'Roboto', sans-serif;
}
p{
    font-family:'Roboto', sans-serif;
}
.left-nav{
    grid-area: left-nav;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color:#407B6D;
    font-size:14px;
    
}
.left-nav >p {
    padding-right:15px;
}
.logo{
    grid-area:logo;
    justify-self: center;
    font-size:26px;
    font-family: rnsBarutaBlack, sans-serif;
    color:#1C4650;
    font-weight:bold;
}
.right-nav{
    grid-area:right-nav;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color:#407B6D;
    font-size:14px;
}
.right-nav >p {
    padding-left:15px;
}
.right-nav svg {
    padding-left:5px;
}

.stats-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left:2px solid #DDDEDD;
    border-top:1px solid black;
    border-bottom: 1px solid black;
    padding-left:40px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right:10px;

}
.stats-content > p {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    margin: 3px;
}
.stats-content > p:first-child{
    color:#6C6F6F;
}
.stats-content > p:nth-child(2){
    font-weight:bold;
}
.stats-grid-container{
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    grid-template-rows: auto;
}
.current-category-set{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}
.view-all{
    border:none;
}
.view-all svg{
    height: 1.3em;
    width: 1.8em;
}
.view-all:hover{
    cursor: pointer;
    text-decoration: underline;
    color:#317162
}
.view-all:focus{
    outline: none;
}
#selected{
    border-bottom: 1px solid #565656;
    color:#565656;
}
#selected:hover{
    color:rgb(150, 151, 150);
}
.category-button{
    border:0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:rgb(182, 185, 182);
    padding:10px 0px 10px 0px;
    margin-right:25px;
    
}
.side-category-button{
    border:0;
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    color:rgb(182, 185, 182);
    padding:10px 0px 25px 0px;
    margin-right:25px;
}
.category-button:hover{
    color:rgb(150, 151, 150);
    cursor: pointer;
}
.category-button:focus{
    outline: none;
}
.main-categories{
    border-bottom:1px solid rgb(182, 185, 182);
    overflow-x:auto;
    white-space: nowrap;
    grid-column:1/3;
    grid-row:1/2;
}
.projects-preview{
    margin:60px;
    display: grid;
    gap:20px;
    /* grid:
    [row1-start] "category category" 50px[row1-end]
    [row2-start]"current ." 70px[row2-start]
    [row3-start]"featured subcategory" 900px[row3-start]
    / 50% 50%; */
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto 900px;
    

}
.current-category{
    font-weight:500;
    color:#282828;
    grid-column: 1/2;
    grid-row:2/3;
}
.featured-image-container{
    grid-column:1/2;
    grid-row:3/4;
}
.featured-image{
    width:100%;
}
.side-category{
    grid-column:2/3;
    grid-row:3/4;
}
.snippet{
    display: flex;
    flex-direction: row;
    border-bottom:1px solid rgb(182, 185, 182);
    height:5em;
    width:100%;
    justify-content: space-between;
    padding-top:10px;
    padding-bottom:10px;
    align-items: center;
}
.snippet > div:first-child{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}
.snippet-text{
    max-width:80%;
}
.snippet-image-container {
    max-width:22%;
    
}
.snippet-title{
    font-size: 14px;
    color:#565656;
}
.snippet-funded{
    font-size:12px;
    color:rgb(182, 185, 182);;
}
.snippet-image{
    max-width:80%;
    height:auto;
}

@media(max-width:1025px){
    .snippet-image-container{
        max-width:30%;
    }
}
@media(max-width:795px){
    .nav{
        grid-template-rows:auto auto;
        grid-template-columns:20px auto 1fr auto 20px;
        border-bottom:1px solid black;
    }
    .filler-left{
        grid-row:2/3;
        grid-column: 1/2;
        border-top:1px solid #DDDEDD;
    }
    .left-nav{
        grid-row:2/3;
        border-top:1px solid #DDDEDD;
    }
    .filler-mid{
        grid-row:2/3;
        grid-column:3/4;
        border-top:1px solid #DDDEDD;
    }
    .right-nav{
        grid-row:2/3;
        border-top:1px solid #DDDEDD;
    }
    .filler-right{
        grid-row:2/3;
        grid-column:5/6;
        border-top:1px solid #DDDEDD;
    }
    
    .stats{
        display: none;
    }
    .projects-preview{
        display: flex;
        flex-direction: column;
        margin:20px;
    }
    .snippet{
        height:auto;
    }
    .snippet-image-container{
        max-width:18%;
    }
    .heart-icon{
        display: none;
    }

}

@media(max-width:600px){
    .nav-hide{
        display: none;
    }
}