input{
    border: 1px solid #DDDEDD;
    font-size:16px;
    font:100;
    transition: border 0.3s ease-in-out;
}
input:focus{
    border: 1px solid red;
    outline: none;
    transition: border 0.3s ease-in-out;
}
.overview_edit{
    background-color:#f0f0f0;
    padding:25px 0px 150px 0px;
    display:flex;
    flex-direction:column;
    align-items:center;
    
    /* margin-bottom:200px; */
}
.overview_edit_container{
    text-align: center;
    width:900px;
    padding:10px;
}
.overview_edit_section{
    display:flex;
    background-color:#ffffff;
    padding:20px;
    text-align: left;
    border:1px solid #DCDEDD;
}
.overview_section_inputs{
    display:flex;
    flex-direction: column;
}
.overview_section_tips{
    display:flex;
    flex-direction: column;
}

.edit_nav{
    display:flex;
    align-items:center;
    
}
.edit_nav_middle{
    height:100%;
}
.overview_edit_nav_box{
    background-color:#ffffff;
    color:#3d3d66;
    text-decoration: none;
    padding:12px;
    border: 1px solid #dad7d4;
    font-weight:700;
}
.edit_nav_left{
    border-top-left-radius:2px;
    border-bottom-left-radius:2px;
    margin-left:12px;
}
.edit_nav_right{
    border-top-right-radius:2px;
    border-bottom-right-radius:2px;
    margin-right:12px;
}
.edit_nav_box_current{
    color:#2752ff;
    background-color:#f0f0f0;
    opacity: 60%;
}

.overview_edit_nav_box:hover{
    color:#2752ff;
    text-decoration: none;
    background-color:#ffffff;
}
.exit_editor{
    color:#ffffff;
    background-color:black;
    font-weight: 100;
    transition: transform 0.1s ease-in-out;
}
.exit_editor:hover{
    transform: translateY(-1px);
    transition: transform 0.3s ease-in-out;
    background-color: #4d4d4d;
    color: #ffffff;
}